.nav-container{
	width: 100%;
	min-height: 100px;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	height: 100%;
}
.nav-logo-container{
	display: flex;
	align-items: center;
}
.nav-logo{
	width: 30px;
	height: 30px;
}
.nav-heading{
	font-family:'Roboto';
	align-self: center;
	font-size: 1.5rem;
	font-weight: 700;
}
.nav-menu{
	display: flex;
	justify-content: space-between ;
	min-width: 20%;
	align-items: center;
	list-style-type: none;
	font-family: 'Roboto';
	font-weight: 700;
}
.nav-item{
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
}